.contact {
    display: grid;
    grid-template-rows: .5fr 1fr;
    justify-content: center;
    
    h1 {
      font-size: 5rem;
      width: 30rem;
      font-weight: 100;
      font-style: italic;
      font-family: Times New Roman;
    }
    
    .contact-form {
      width: 55rem;
      display: grid;
      grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
      
      input {
        outline: none;
        border-style: none;
        border-bottom: 1px solid black;
        font-size: 1.5rem;
        font-weight: 100;
      }
      
      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
      }
      
      textarea {
        outline: none;
        font-size: 1.5rem;
        font-weight: 100;
        border-style: none;
        border-bottom: 1px solid black;
        resize: none;
      }
      
      button {
        background: #fff;
        border: none;
        font-size: 1.5rem;
        font-weight: 100;
      }
    }

    .contact-response-message {
        margin: 0;
        position: absolute;
        top: 50%;
        color:  crimson;
    }
  }