.projects {
    display: grid;
    grid-template-rows: .2fr 3fr;
    justify-self: center;
    width: 55rem;
    height: 25rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    justify-content: center;
    
    h1 {
      font-size: 1.8rem;
    }
    
    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 55rem;
      height: 10rem;
      
      .projects-title {
        font-size: 3.5rem;
        font-style: italic;
        font-family: Times New Roman;
      }
      
      .projects-date {
        font-size: 1.3rem;
      }
      
      .projects-description {
        font-size: 1.7rem;
        width: 15rem;
      }
    }
  }