html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//@font-face {
//  font-family:  balboa-plus-fill, sans-serif;;
//  src: url(elena-regular.woff);
//}

body {
  background: #fff;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1, h2, h6 {
  font-weight: 100;
//  padding-left: .5rem;
}

.container {
  display: grid;
  //  The fixed position header isn't included in this
  grid-template-rows: 5fr .2fr;
  
  header {
    position: fixed;
    width: 100vw;
    background: #fff;
    display: grid;
    grid-template-columns: 0fr 1fr .9fr;
    z-index: 1; //so the banner:before doesn't make it turn purple
    
   a {
      text-decoration: none;
      color: black;
      padding-top: .8rem;
    }

    a:hover {
      color: #b9b9b9;
      border-top: 4px solid black;
    }

    a:active {
      color: #c79393;
    }
    
    nav {
      display: grid;
      align-content: center;
      
      ul {
        display: grid;
        grid-template-columns: repeat(3, .2fr);
        
        li {
          list-style: none;
        }
      }
    }
    
    form {
      display: grid;
      grid-template-columns: 1fr 1fr .4fr .4fr;
      grid-gap: .2rem;
      align-content: center;
      
      .toggleLogIn {
        font-size: .8rem;
        text-decoration: underline;
        cursor: pointer;
      }
      
      .toggleLogIn:hover {
        color: purple;
      }
    }
    
  }
  
  main {
    margin-top: 3rem;
    display: grid;
    
    .banner-overlay {
      background-color: rgba(50, 48, 62, 0);
      height: 94%;
      width: 100%;
      position: absolute;
    }

    .banner {
      height: 45rem;
      background-image: url('/assets/images/backgroundtea.jpg');
      background-repeat: no-repeat;
      background-size: 114%;
      border-radius: 4px;
      display: grid;
      justify-content: center;
      align-content: center;
      margin-bottom: 3rem;
      box-shadow: 2px 2px 2px #4b4a4a;

      .banner-title {
        width: 35rem;
        height: 16rem;
        background: rgba(255, 255, 255, 0.5);
        text-align: center;
        position: relative;
        top: 2rem;
        border: 7px white solid;
        
        h2 {
          font-size: 6rem;
          margin: 0;
          margin-top: .5rem;
//          font-family:  'Great Vibes', 'balboa-plus-fill', Helvetica;
          font-family: Helvetica;
          letter-spacing: -7px;
          font-weight: 100;
          color: #454545;
        }

        p {
          font-size: 1.5rem;
          margin-bottom: 0;
          word-spacing: 10px;
        }
      }
    }

  .center-piece {
      width: 100vw;
      display: grid;
      grid-template-rows: .2fr 1fr 1fr 1fr;
      grid-row-gap: 3rem;
      justify-self: center;

    .center-piece-sub-title {
      font-family: Times New Roman;
      margin: 5rem;
      font-size: 4.3rem;
      font-style: italic;
      text-align: center;
    }

      article {
        height: 20rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        font-style: italic;

        h1 {
          font-size: 5rem;
          font-weight: 100;
          font-style: italic;
          font-family: Times New Roman;
        }

      }
    
    }
    
    .center-piece-1 {
      background: url("https://images.pexels.com/photos/860487/pexels-photo-860487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    
    .center-piece-2 {
      background: url("https://images.pexels.com/photos/374898/pexels-photo-374898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-position: 0 31rem;
    }
    
    .center-piece-3 {
      background: url("https://images.pexels.com/photos/158179/lake-constance-sheep-pasture-sheep-blue-158179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
  }
  
  footer {
    height: 10rem;
    background: #2f2e2e;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
    p {
      color: #a0a09f
    }
  } 
}

@import 'posts';
@import 'contact';
@import 'parallax';
@import 'admin';