@media (max-width: 550px){
  .container {
    grid-template-columns: 1fr;
    
    .main {
      
      .posts {
        
        .post {
          padding: 0;
          grid-template-rows: 5rem 2rem 5rem;
          grid-template-areas:
            "title title"
            "meta meta"
            "description description";
          text-align: center;
          border-bottom: 1px solid black;
          max-height: 75vh;
          
          .post-img {
            display: none;
          }
          
          .post-description {
            padding-left: 0;
          }
        }
        
        
      }
    }

  }
}