html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body { 
  font-family: sans-serif;
  margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: 100vh auto auto;
  grid-template-columns: 1fr;
  scroll-snap-type: y proximity;


/* ------ Navbar ----- */  
  .navbar {
    position: fixed;
    background: white;
    width: 100vw;
    display: grid;
    justify-content: end;
    box-shadow: 0 0 2px;
    
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-right: 3rem;
      
      li {
        list-style: none;
        
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

/* ------ Header ----- */  
  .header {
    background: url('/assets/images/backgroundtea.jpg') no-repeat 0/cover;
    display: grid;
    align-items: center;
    justify-content: center;
    
    .header-title {
      font-weight: 100;
      font-size: 4rem;
      background: rgba(255, 255, 255, 0.56);
      padding: 4rem 2rem;
      border: .5rem solid white;
      
      a {
        text-decoration: none;
        color: black;
        width: inherit;
      }
    }
  }
  
/* ------ Main ----- */  
  .main {
    display: grid;
//    justify-content: center;
    scroll-snap-align: start;

    .posts {
      display: grid;
      
      .post {
        padding-right: 2rem;
        height: 100vh;
        border-bottom: 1px solid #00000026;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 2rem 1fr;
        grid-template-areas:
          "img title"
          "img meta"
          "img description";
        
        .post-title {
          margin-bottom: 0;
          font-weight: 100;
          grid-area: title;
//          background: #afafd8;
          border-bottom: 1px solid black;
          text-align: center;
          font-size: 2rem;
        }
        
        .post-img {
          grid-area: img;
          object-fit: contain;
          width: 50vw;
        }
        
        .post-metadata {
          grid-area: meta;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          align-content: center;
          color: grey;
          font-style: italic;
          
          .post-metadata-date {
          }
          
          post-metadata-author {
          }
            
        }
        
        .post-description {
          margin: 0;
          grid-area: description;
          border-top: 1px solid black;
          padding-top: 1rem;
          padding-left: 2rem;
        }
      }
    }
  }
  
/* ------ Footer ----- */  
  .footer {
    background: #2f2e2e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
  }
}

@import 'admin';
@import 'mediaqueries';
@import 'contact';